main {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  height: calc(100vh - 80px);
  overflow: auto;
  z-index: 0;
  align-content: space-between;
  justify-items: center;
  justify-content: space-between;
}
